
/* IE6 fixes
-------------------------------------------------------------- */
.block-user #user-login-form .form-submit {
  padding: 7px 25px 7px 15px;
}
#primary-menu,
#block-views-view_image_slideshow-block_1 {
  padding-bottom: 0px;
}
.primary-menu .primary-menu-inner {
  position: static;
}
.block {
  margin: 0;
  padding-bottom: 20px;
}
#block-views-view_image_slideshow-block_1 .inner {
  padding: 0;
  margin: 0;
}
.block .inner {
  padding: 0 10px;
  margin: 0;
}

ul.menu li, ul.links li {
  padding: 5px 0 5px 16px;
} 
.views-field-title {
  padding-left: 8px;
}

/* IE6 fixes
-------------------------------------------------------------- */
/* fix double-margin bug */
.block,
.nested {
  display: inline;
}

/* fix tab layout */
div#content-tabs,
div#content-tabs ul.primary,
div#content-tabs ul.secondary {
  display: block;
  float: none;
  height: 1%;
}

/* limit legend width to text length */
form fieldset legend {
  display: inline-block !important;
}


/* Superfish menu
-------------------------------------------------------------- */
/* fix z-index show-behind bug */
.primary-menu-inner,
ul.sf-menu li {
  z-index: 2;
}

/* prevent displaced menu items */
.primary-menu-inner {
  width: 100%;
}


/* Helper classes
-------------------------------------------------------------- */
/* clear floats after an element */
.clearfix,
.clearfix .inner {
  display: block;
  height: 1%;
}

