
/* IE7 fixes
-------------------------------------------------------------- */
.block-user #user-login-form .form-submit {
  padding: 7px 25px 7px 15px;
}
#primary-menu,
#block-views-view_image_slideshow-block_1 {
  padding-bottom: 0px;
}
.primary-menu .primary-menu-inner {
  position: static;
}
.block {
  margin: 0;
  padding-bottom: 20px;
}
#block-views-view_image_slideshow-block_1 .inner {
  padding: 0;
  margin: 0;
}
.block .inner {
  padding: 0 10px;
  margin: 0;
}

ul.menu li, ul.links li {
  padding: 5px 0 5px 16px;
} 
.views-field-title {
  padding-left: 8px;
}
.block-user #edit-pass-wrapper input,
.block-user #edit-name-wrapper input {
  width: 175px;
}
/* Helper classes
-------------------------------------------------------------- */
/* clear floats after last element in a container */
.clearfix,
.clearfix .inner {
  zoom: 1;
}
