
/* Margin, Padding, Border Resets
-------------------------------------------------------------- */

img {
  float: left;
  margin-right: 20px;
}
/* HTML Elements
-------------------------------------------------------------- */
li a.active {
  color: #000000;
}
li.expanded,
li.collapsed,
li.leaf {
 
  list-style: none;
  list-style-image: none;
}
ul.menu li, ul.links li {
  margin: 0;
  padding: 5px 0 5px 15px;
}
ul.primary {
  border-bottom: none;
}
ul.pager {
  padding: 10px 0px;
  margin: 0;
}
ul.pager li {
  color: #255B9B;
}
.item-list .pager {
  text-align: right;
}
ul.pager li.pager-current {
  color: #000000;
}
ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  color: #000000;
}
ul.pager a,
ul.pager li.pager-current {
  font-size: 12px;
  border-style: none;
}
ul.pager a:hover,
ul.pager li.pager-current:hover {
  font-size: 12px;
  border-style: none;
}
.item-list ul li {
  list-style-type: none;
  margin-left:2px;
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color:#255b9b;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}

/* Grid Layout Basics (specifics in 'gridnn_x.css')
-------------------------------------------------------------- */
/* center page and full rows: override this for left-aligned page */

#page-inner { 
  background:  #212021;
}

/* Header Regions
-------------------------------------------------------------- */
.header-group-wrapper {
  background:url(../images/bgheader.jpg) 0 0 repeat-x ;
}

#logo {
  margin: 40px 0 30px 0;
  float: left;
}
#header-site-info {
  margin-bottom:0;
}
/* Sidebar widths can be controlled through theme settings */

#sidebar-last {
  float:left;
}
#sidebar-first {
  float:left;
 
}
.block {
  margin-bottom:20px;
}
.brown_block h2.block-title {
  border-bottom: 0px solid #bfc5ca;
  margin: 0 10px;
}
.brown_block .content {
  margin:0 10px;
}
 h2.block-title {
  color: #212021;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #bfc5ca;
  padding-bottom: 5px;
  font-weight: normal;
}
.block-poll ul li,
.block-user ul li {
  border: none;
  padding: 2px 0px 5px 10px;
}
.brown_block ul li {
   background: url(../images/icon1.jpg) no-repeat scroll 0 10px;
}
.link-block ul li{ 
  border-bottom: 1px #dfe2e4 solid;
  background: url(../images/icon.jpg) no-repeat scroll 0 10px;
  padding:5px 0px 5px 10px;
}
.link-block ul li.expanded { 
  border-bottom: 0px #dfe2e4 solid ;
}
#sidebar-last ul,
#sidebar-first ul {
  margin: 0;
  padding-left: 0;
}
#sidebar-first .block .inner {
  margin-left: 20px;
  margin-right: 0;
}
#sidebar-last .block .inner {
  margin-right:20px;
  margin-left: 0;
}
.user ul li {
  color: #255b9b;
  padding: 5px 0;
  }
/* Content Regions (Main)
-------------------------------------------------------------- */
#main {
  background: #ffffff url(../images/bg_bodertop.jpg) repeat-x  bottom scroll; 
}
#main-inner {
  background: url(../images/bodercontent.jpg) repeat-y right scroll;
}
#main-wrapper {
  background: url(../images/bgcontent.jpg) repeat-x 0 0 scroll;
}
#main-inner-inner {
  background: url(../images/bodercontent.jpg) repeat-y left scroll;
  float: left;
  padding-top: 45px;
}
/* Postscript-bottom
-------------------------------------------------------------- */
#postscript-bottom {
  background: #e9e9e9 url(../images/bomain1.jpg) no-repeat left bottom scroll;
}
#postscript-bottom-inner {
  background: url(../images/bomain2.jpg) no-repeat right bottom scroll;
}
#postscript-bottom-inner .block.first .inner {
  margin-left: 15px;
}
#postscript-bottom-inner .block.last .inner {
  margin-right: 15px;
}
#postscript-bottom h2.block-title {
  border-bottom: none;
  margin: 18px 0 0 0;
}
#content-group .views-row {
  float: left;
  margin: 0 0 20px;
}
.content-content .views-field-title {
  border-bottom: 0px solid #BFC5CA;
  padding-bottom: 10px;
}
#content-group-inner {
  float:left;
}
.content-content .views-field-title a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #212120;
}
#content-inner-inner {
  margin-left: 20px;
  margin-right: 20px;
}
/*  Preface-top
-------------------------------------------------------------- */
#preface-top-wrapper {
  background: url(../images/bgherbott.jpg) repeat-x 0 0 scroll;
  height: 273px;
}
#preface-top {
  padding-top: 20px;
}
/*  Footer
-------------------------------------------------------------- */
#page #footer {
  font-size: 12px;
}
#footer ul {
  text-align: center;
  margin: 15px 0 0 0;
}
#footer ul li {
  display: inline;
  padding: 0;
}
#footer ul li a {
  padding: 0 20px;
  color: #fff;
  border-left: 1px solid #fff;
  line-height: 1;
}
#footer ul li.first a {
  border: none;
}
#footer-inner {
}
#footer a:hover,
#footer a:focus,
#footer a:active {
  color: #ffffff;
  text-decoration: none;
}

#footer li a.active {
  color: #ffffff;
}
#footer .inner {
}
/* Menus
/-------------------------------------------------------------- */
#footer #block-menu-menu-menu1 {
  padding-top:10px;
  margin: 0;
}
/* Primary Menu
/-------------------------------------------------------------- */

#primary-menu-wrapper {
  overflow: visible;
  background: #000 url(../images/bgmenu.jpg) repeat-x 0 0 scroll;
  margin: 0;
}
#primary-menu-inner {
  margin:0 ;
}
#primary-menu ul {
  margin: 0;
}
#primary-menu ul.menu li {
  padding: 0 ;
 
}
.primary-menu li a {
  color: #ffffff;
  text-transform:uppercase;
}
.primary-menu ul li a {
  padding: 15px 52px ;
  background: url(../images/boder01_05.jpg) no-repeat right scroll;
}
.primary-menu ul li.first a {
  padding-left:46px;
  padding-right:48px;
}
.primary-menu ul li.last a {
  background:none;
}
.primary-menu ul li.last a.active {
  background: url(../images/sub3.png) no-repeat scroll right;
  padding-right:45px;
}
#primary-menu.block ul {
  padding:0;
}
.primary-menu ul li {
  float: left; /* LTR */
  list-style: none;
  position: relative;
}
#primary-menu ul li.active-trail {
  background: url(../images/sub1.png) no-repeat left scroll;
  padding: 0 0 0 13px;
  height: 65px;
  margin: -10px 0 0 10px;
}
.primary-menu ul li.active-trail a {
  text-decoration: none;
  background: url(../images/sub2.png) no-repeat scroll right;
  height: 40px;
  padding: 25px 54px 0 27px;
  color: #000000;
}
#primary-menu ul li.sfHover li a,
#primary-menu ul li.active-trail li a {
  background: none;
  padding: 10px 0 0 30px;
  color:#ffffff;
}
#primary-menu ul li.sfHover li a:focus,
#primary-menu ul li.sfHover li a:hover,
#primary-menu ul li.sfHover li a.active,
#primary-menu ul li.active-trail li a:focus, 
#primary-menu ul li.active-trail li a:hover,
#primary-menu ul li.active-trail li a.active {
  color:#000000;
}
#primary-menu ul li.sfHover li,
#primary-menu ul li.active-trail li {
  height: 35px;
  background: none;
  padding: 0;
  margin: 0;
}
#primary-menu ul li li {
  border-bottom: 1px solid #205501;
}
#primary-menu ul li li.last {
  border-bottom:  none;
}
#primary-menu ul li.sfHover ul {
  border: 1px solid #205501;
  background: #53a1f1;
  width: 15.9em;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  top: 50px;
}
#primary-menu ul li.active-trail ul {
  border: 1px solid #205501;
  background: #53a1f1;
  width: 15.9em;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  top: 65px;
}
#primary-menu ul li.first {
  margin-left: 0;
}
#primary-menu ul a:focus,
#primary-menu ul a:hover,
#primary-menu ul a.active {
  color: #000000;
}
/* Secondary Menu
/-------------------------------------------------------------- */

#secondary-menu {
  background: url(../images/01_03.jpg) no-repeat right 0 scroll;
  float:right;
  width: 60%;
}
#secondary-menu-inner {
  background: url(../images/01_02.jpg) no-repeat left 0 scroll;
  padding: 0 26px 0 0;
  float: right;
}
#secondary-menu-inner ul {
  background: url(../images/01_03.gif) repeat-x scroll 0 0;
  height: 47px;
  margin-left: 36px;
}
#secondary-menu-inner ul li {
  float: left;
  padding: 10px 20px;
  background: url(../images/boder_02.jpg) no-repeat scroll right 0 ;
}
#secondary-menu-inner ul li.last {
  background:none;
  padding-right: 0;
}
#secondary-menu-inner ul li.first {
  padding-left:0;
}
/* Forms
/-------------------------------------------------------------- */
.form-item { 
  text-align:left;
}
#block-user-0 .form-submit{
}
.block-user #edit-pass-wrapper input,
.block-user #edit-name-wrapper input,
.block-user #edit-name-1-wrapper input {
  width: 185px;
}
/* defaults for all text fields */
.form-text {
  padding: 2px;
}
/* defaults for all form buttons */
form input.form-submit {
  background: url(../images/bgnut.jpg) repeat 0 0 scroll;
  cursor: pointer;
  color: #ffffff;
  height:22px;
  margin: 2px;
  padding: 2px 15px 4px 15px;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
}
form input.form-submit:hover {
  color: #FF6600;
}
#edit-vote {
  margin-bottom: 15px;
}
#user-login-form {
  text-align:center;
}
#user-login-form .item-list {
  text-align: left;
  margin-top:15px;
}
#sidebar-last #user-login-form div.item-list ul li {
  padding-bottom:0;
}
/* Blocks
/-------------------------------------------------------------- */
.brown_block .block-top-left {
  background: #e9e9e9 url(../images/brown1.jpg) top left no-repeat scroll ;
  float: left;
  width:100%;
}
.brown_block .block-top-right {
  background: url(../images/brown2.jpg) top right no-repeat scroll ;
  float: left;
  padding-top: 8px;
  width:100%;
}
.brown_block .block-bottom-left {
  background: url(../images/brown3.jpg) bottom left no-repeat scroll ;
  float: left;
  width:100%;
}
.brown_block .block-bottom-right {
  background: url(../images/brown4.jpg) bottom right no-repeat scroll ;
  float: left;
  padding-bottom: 8px; 
  width:100%;
}
.brown_block .block-boder-left {
  background: url(../images/boder_brown1.jpg) repeat-y left scroll;
  float: left;
  width:100%;
}
.brown_block .block-boder-right {
  background: url(../images/boder_brown2.jpg) repeat-y right scroll;
  float: left;
  width:100%;
}
#block-views-viewtitle-block_1 a {
  background: url(../images/icon.jpg) no-repeat 0 6px scroll ;
  padding-left: 10px;
}
#block-views-viewtitle-block_1 .more-link a {
  background: none ;
}
#block-views-viewtitle-block_1 .views-field-title {
  padding: 5px 0 5px 0px;
}
/* Slideshow
/-------------------------------------------------------------- */
#block-views-view_image_slideshow-block_1 {
  margin:0;
}
#block-views-view_image_slideshow-block_1 .inner {
  margin:0;
}
#block-views-view_image_slideshow-block_1 img {
  margin-right:0px;
}
/* Nodes
/-------------------------------------------------------------- */
.meta {
  margin-bottom:15px;
}
/* Poll
/-------------------------------------------------------------- */
/* increase default font size and spacing of poll titles */
.block-poll .poll div.title {
  margin-bottom: 10px;
  font-size: 12px;
}
textarea, 
.form-item input, 
.form-item select, 
#content-region input.form-text {
  max-width:100%;
}
/* Views
/-------------------------------------------------------------- */
.views-field-name, 
.views-field-created {
  color: #7c7c7c;
  font-style: italic;
  font-size: 11px;
}
.submitted {
  color: #7c7c7c;
  font-style: italic;
  font-size: 11px;
}
.views-field-name {
  float: left;
  margin-right: 5px;
}
.views-field-view-node span {
  float: right;
}
.views-field-title {  
  border-bottom: 1px solid #DFE2E4;
}
.views-field-view-node a {
  background: url(../images/icon.jpg) no-repeat scroll 0 6px;
  padding-left: 10px;
}

/* Copyright */
.st-copyright {
  color: #fff;
  padding: 10px 0 30px 0px;
  text-align: center;
}